.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 50%;
  margin: 0 3px;
  transition: background-color 0.3s;
}

.pagination-button.active {
  background-color: var(--primary-color);
}

.pagination-button.disabled {
  cursor: not-allowed;
  background-color: var(--border-color-input);
}

.pagination-button:hover:not(.disabled),
.pagination-button.active {
  background-color: var(--primary-color);
}

.pagination-number {
  cursor: pointer;
  background-color: #fff;
  color: var(--primary-color);
  padding: 8px 12px;
  border: none;
  border-radius: 50%;
  margin: 0 3px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-number.active {
  background-color: var(--primary-color);
  color: #fff;
}

.pagination-number:hover:not(.active) {
  background-color: #f2f2f2;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .pagination {
    flex-wrap: wrap;
  }

  .pagination-button,
  .pagination-number {
    margin: 5px;
  }
}